<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="PMSLogin">
    <test name="BasicLoginTestCases">
        <classes>
            <class name="TestPmsLoginPage.TestActiveLinks"/>
            <class name="TestPmsLoginPage.TestForgotpassword"/>
            <class name="TestPmsLoginPage.TestLogin" />
            <class name="TestPmsLoginPage.TestOtp" />
        </classes>
    </test>
</suite>
